In [1]:
from calcula_resultados import compute_indicators_from_files, load_balancetes_to_df, extract_accounts
import pandas as pd
import json
files = ["balancetes/balancete1.json"]
result = compute_indicators_from_files(files)

In [2]:
with open("balancetes/nfeat/Balancete.2023-01.normalized.json", "r", encoding="utf-8") as f:
    data = json.load(f)

In [11]:
# ---- DataFrame por arquivo ----
df_balancete = pd.json_normalize(
    result["per_file"]).drop(columns=["file", "n_leaves"])


df_balancete

,indicators.receita_bruta,indicators.impostos_vendas,indicators.receita_liquida,indicators.custos,indicators.lucro_bruto,indicators.despesas,indicators.lucro_liquido,indicators.disponibilidade_caixa
0,684563.19,3160.22,681402.97,405696.63,275706.34,416239.67,-140533.33,130876.58

In [3]:
def extract_accounts(node, hierarchy=None):
    if hierarchy is None:
        hierarchy = []

    current_hierarchy = hierarchy + [node["descricao"]]
    rows = []

    if "children" in node:
        for child in node["children"]:
            rows.extend(extract_accounts(child, current_hierarchy))
    else:
        row = {f"nivel_{i+1}": level for i,
               level in enumerate(current_hierarchy)}
        row["conta"] = node["conta"]
        row["descricao"] = node["descricao"]
        row["saldo_atual"] = node.get("saldo_atual", 0.0)
        rows.append(row)

    return rows

In [4]:
all_rows = []
for section in data.values():
    if isinstance(section, dict) and "descricao" in section:
        all_rows.extend(extract_accounts(section))

# Create a DataFrame
df = pd.DataFrame(all_rows)

In [5]:
df

,nivel_1,nivel_2,nivel_3,nivel_4,nivel_5,conta,descricao,saldo_atual
0,ATIVO,ATIVO CIRCULANTE,DISPONIBILIDADES,CAIXA,Caixa,01.1.1.01.001,Caixa,101546.33
1,ATIVO,ATIVO CIRCULANTE,DIREITOS REALIZÁVEIS A CURTO PRAZO,CLIENTES NACIONAIS,Clientes nacionais,01.1.2.01.001,Clientes nacionais,39090.00
2,ATIVO,ATIVO CIRCULANTE,DIREITOS REALIZÁVEIS A CURTO PRAZO,TRIBUTOS E CONTRIBUIÇÕES A COMPENSAR,ICMS a Recuperar,01.1.2.08.001,ICMS a Recuperar,1113.79
3,ATIVO,ATIVO CIRCULANTE,DIREITOS REALIZÁVEIS A CURTO PRAZO,ESTOQUES,Estoque de Mercadoria Para Revenda,01.1.2.10.001,Estoque de Mercadoria Para Revenda,13968.70
4,ATIVO,ATIVO CIRCULANTE,DIREITOS REALIZÁVEIS A CURTO PRAZO,REMESSA DE PRODUTOS/MERCADORIAS,Remessa de Produtos/Mercadorias,01.1.2.12.001,Remessa de Produtos/Mercadorias,13500.00
5,ATIVO,ATIVO NÃO CIRCULANTE,IMOBILIZADO,BENS E DIREITOS EM USO,Máquinas e Equipamentos,01.2.3.01.001,Máquinas e Equipamentos,18024.51
6,ATIVO,ATIVO NÃO CIRCULANTE,IMOBILIZADO,(-) DEPRECIAÇÃO ACUMULADA,(-) Máquinas e equipamentos,01.2.3.05.001,(-) Máquinas e equipamentos,-185.20
7,PASSIVO,PASSIVO CIRCULANTE,FORNECEDORES,REZENDE CENTRO COMERCIAL AUTOMOTIVO LTDA,NaN,02.1.1.01.000007895,REZENDE CENTRO COMERCIAL AUTOMOTIVO LTDA,2434.00
8,PASSIVO,PASSIVO CIRCULANTE,FORNECEDORES,VPMB MARCAS E PATENTES LTDA,NaN,02.1.1.01.001803522,VPMB MARCAS E PATENTES LTDA,4050.32
9,PASSIVO,PASSIVO CIRCULANTE,FORNECEDORES,Comercial Artmaq Ltda EPP,NaN,02.1.1.01.001804167,Comercial Artmaq Ltda EPP,2610.00
10,PASSIVO,PASSIVO CIRCULANTE,FORNECEDORES,FRIGELAR COMERCIO E INDUSTRIA LTDA,NaN,02.1.1.01.001837450,FRIGELAR COMERCIO E INDUSTRIA LTDA,13028.91
11,PASSIVO,PASSIVO CIRCULANTE,FORNECEDORES,FRIGELAR COMERCIO E INDUSTRIA LTDA (dup.),NaN,02.1.1.01.001837451,FRIGELAR COMERCIO E INDUSTRIA LTDA (dup.),5543.30
12,PASSIVO,PASSIVO CIRCULANTE,EMPRÉSTIMOS E FINANCIAMENTOS,Banco Bradesco S/A,NaN,02.1.2.01.010,Banco Bradesco S/A,29330.25
13,PASSIVO,PASSIVO CIRCULANTE,OBRIGAÇÕES TRABALHISTAS,Salários a pagar,NaN,02.1.3.01.001,Salários a pagar,38011.74
14,PASSIVO,PASSIVO CIRCULANTE,OBRIGAÇÕES TRABALHISTAS,INSS a pagar,NaN,02.1.3.04.001,INSS a pagar,5794.36
15,PASSIVO,PASSIVO CIRCULANTE,OBRIGAÇÕES TRIBUTÁRIAS,IRRF a Recolher,NaN,02.1.4.01.001,IRRF a Recolher,539.70
16,PASSIVO,PASSIVO CIRCULANTE,OBRIGAÇÕES TRIBUTÁRIAS,IRRF a Recolher - Pessoa Jurídica,NaN,02.1.4.01.002,IRRF a Recolher - Pessoa Jurídica,61.68
17,PASSIVO,PASSIVO CIRCULANTE,OBRIGAÇÕES TRIBUTÁRIAS,INSS Retido a Recolher,NaN,02.1.4.01.006,INSS Retido a Recolher,451.00
18,PASSIVO,PASSIVO CIRCULANTE,OBRIGAÇÕES TRIBUTÁRIAS,ICMS a Pagar,NaN,02.1.4.03.001,ICMS a Pagar,994.05
19,PASSIVO,PASSIVO CIRCULANTE,OBRIGAÇÕES TRIBUTÁRIAS,SIMPLES a Pagar,NaN,02.1.4.03.006,SIMPLES a Pagar,38035.68
20,PASSIVO,PASSIVO NÃO CIRCULANTE,Bens Remetidos para Teste,NaN,NaN,02.2.1.02.002,Bens Remetidos para Teste,13500.00
21,PASSIVO,PATRIMÔNIO LÍQUIDO,Capital Social Integralizado,NaN,NaN,02.3.1.01.002,Capital Social Integralizado,10000.00
22,PASSIVO,PATRIMÔNIO LÍQUIDO,Reserva de Lucros,NaN,NaN,02.3.2.02.001,Reserva de Lucros,63748.83
23,RECEITAS,Serviços Prestados a Prazo,NaN,NaN,NaN,03.1.1.03.002,Serviços Prestados a Prazo,375187.92
24,RECEITAS,Simples Nacional sobre vendas e serviços,NaN,NaN,NaN,03.1.2.02.008,Simples Nacional sobre vendas e serviços,-38035.68
25,CUSTOS E DESPESAS,Salários,NaN,NaN,NaN,04.2.1.01.001,Salários,42996.00
26,CUSTOS E DESPESAS,Depreciações e Amortizações,NaN,NaN,NaN,04.2.1.99.013,Depreciações e Amortizações,185.20
27,CUSTOS E DESPESAS,Fretes e Carretos,NaN,NaN,NaN,04.2.1.99.015,Fretes e Carretos,547.70
28,CUSTOS E DESPESAS,Serviços de Terceiros - Pessoa Jurídica,NaN,NaN,NaN,04.2.1.99.020,Serviços de Terceiros - Pessoa Jurídica,333442.25
29,CUSTOS E DESPESAS,Juros,NaN,NaN,NaN,04.2.2.02.001,Juros,106.69
30,CUSTOS E DESPESAS,Multas,NaN,NaN,NaN,04.2.2.02.003,Multas,950.09

In [10]:

df[df["nivel_1"].str.startswith("A")]

Empty DataFrame
Columns: [nivel_1, nivel_2, nivel_3, nivel_4, conta, descricao, saldo_atual]
Index: []

In [61]:
with open('balancetes/Balancetes23year_Industria.json', 'r', encoding='utf-8') as f:
    dados_json = json.load(f)