In [8]:
from calcula_resultados import compute_indicators_from_files, load_balancetes_to_df, extract_accounts
import pandas as pd
import json
from utils.functions import processar_indicadores_financeiros, extract_accounts
import re
from datetime import datetime
files = ["balancetes/balancete1.json"]
result = compute_indicators_from_files(files)

In [3]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://admin:admin789@clusterpi.zbppmf1.mongodb.net/?retryWrites=true&w=majority&appName=ClusterPI"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
# Listar bancos de dados dispon√≠veis no cluster
bancos = client.list_database_names()
print("üìö Bancos dispon√≠veis:")
for b in bancos:
    print(" -", b)

üìö Bancos dispon√≠veis:
 - ConsulX_db
 - admin
 - local

In [5]:
# Escolha o banco que quer explorar
db = client["ConsulX_db"]

colecoes = db.list_collection_names()
print("üìÇ Cole√ß√µes no banco 'ConsulX_db':")
for c in colecoes:
    print(" -", c)

üìÇ Cole√ß√µes no banco 'ConsulX_db':
 - industrial_nordeste

In [ ]:
# Escolher uma cole√ß√£o espec√≠fica
colecao = db["industrial_nordeste"]

# Listar os documentos (como SELECT * FROM usuarios)
for doc in colecao.find():
    print(doc)

In [11]:
# ==== L√ä TODOS OS BALANCETES ====
import os
import json


# Caminho da pasta
folder_path = "balancetes/industrial_nordeste"
# Lista para armazenar todos os documentos
all_docs = []

# Percorre todos os arquivos JSON na pasta
for filename in os.listdir(folder_path):
    if filename.endswith(".json"):
        file_path = os.path.join(folder_path, filename)

        with open(file_path, "r", encoding="utf-8") as f:
            data = json.load(f)

            # Se o arquivo tiver uma lista de documentos
            if isinstance(data, list):
                for doc in data:
                    # adiciona refer√™ncia do arquivo
                    doc["filename"] = filename
                    all_docs.append(doc)
            else:
                # Se for um √∫nico JSON (objeto)
                data["filename"] = filename
                all_docs.append(data)  # Se for uma lista de objetos JSON:
                
if all_docs:
    resultado = colecao.insert_many(all_docs)
    print(f"‚úÖ Inseridos {len(resultado.inserted_ids)} documentos no MongoDB.")
else:
    print("‚ö†Ô∏è Nenhum arquivo JSON encontrado ou vazio.")

‚úÖ Inseridos 36 documentos no MongoDB.

In [ ]:
colecao.delete_many({})

In [9]:
tabela_pivot = processar_indicadores_financeiros(df_hist)
tabela_pivot

,Ativo_Circulante,Ativo_Nao_Circulante,Passivo_Circulante,Passivo_Nao_Circulante,Receita_Bruta,Impostos_Receita,Custo_Total,Disponibilidade_Caixa,Receita_L√≠quida,Lucro_Bruto,Lucro_L√≠quido,Ativo_Total,Passivo_Total,Liquidez_Corrente,Liquidez_Imediata,Liquidez_Geral,Solvencia_Geral,Endividamento,Endividamento_Geral
mes,,,,,,,,,,,,,,,,,,,
2023-01,171846.85,20170.62,146569.75,14602.65,429901.40,-37005.85,394821.21,109463.73,466907.25,72086.04,72086.04,192017.47,161172.40,1.172458,0.746837,1.191379,1.191379,0.839363,0.839363
2023-02,194311.17,22148.27,146934.96,12200.55,321346.85,-36053.27,421294.61,117390.16,357400.12,-63894.49,-63894.49,216459.44,159135.51,1.322430,0.798926,1.360221,1.360221,0.735175,0.735175
2023-03,195146.77,21086.51,142678.67,13451.67,440831.99,-39032.98,322318.55,118591.10,479864.97,157546.42,157546.42,216233.28,156130.34,1.367736,0.831176,1.384954,1.384954,0.722046,0.722046
2023-04,180656.01,16285.56,148246.13,11308.40,327009.19,-46053.09,398476.89,108421.05,373062.28,-25414.61,-25414.61,196941.57,159554.53,1.218622,0.731358,1.234321,1.234321,0.810162,0.810162
2023-05,169029.08,18835.33,123963.33,14972.29,418292.76,-30113.69,308838.38,100677.15,448406.45,139568.07,139568.07,187864.41,138935.62,1.363541,0.812153,1.352169,1.352169,0.739553,0.739553
2023-06,176836.56,21566.61,151291.96,13630.32,409987.78,-32296.83,363654.46,109264.96,442284.61,78630.15,78630.15,198403.17,164922.28,1.168843,0.722213,1.203010,1.203010,0.831248,0.831248
2023-07,177204.61,17164.38,136181.68,12936.75,426368.02,-42460.42,419743.75,117555.50,468828.44,49084.69,49084.69,194368.99,149118.43,1.301237,0.863226,1.303454,1.303454,0.767192,0.767192
2023-08,158219.08,22171.27,144447.54,10646.38,341142.69,-39765.13,406375.28,87176.40,380907.82,-25467.46,-25467.46,180390.35,155093.92,1.095339,0.603516,1.163104,1.163104,0.859768,0.859768
2023-09,186976.07,20045.85,135953.20,13144.75,396731.67,-39909.61,350382.84,125104.32,436641.28,86258.44,86258.44,207021.92,149097.95,1.375297,0.920201,1.388496,1.388496,0.720204,0.720204
2023-10,178534.83,22356.23,132495.14,10381.20,305206.76,-37203.95,357304.56,106759.08,342410.71,-14893.85,-14893.85,200891.06,142876.34,1.347482,0.805758,1.406048,1.406048,0.711213,0.711213
2023-11,159678.28,21556.74,151381.55,15479.51,388546.06,-38185.77,323066.04,93676.63,426731.83,103665.79,103665.79,181235.02,166861.06,1.054807,0.618811,1.086143,1.086143,0.920689,0.920689
2023-12,174366.68,22244.45,NaN,NaN,NaN,NaN,NaN,97415.61,NaN,NaN,NaN,196611.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
ultimo_mes = tabela_pivot.index.max()
indices_max = tabela_pivot.loc[tabela_pivot.index == ultimo_mes]

In [11]:
indices_max

,Ativo_Circulante,Ativo_Nao_Circulante,Passivo_Circulante,Passivo_Nao_Circulante,Receita_Bruta,Impostos_Receita,Custo_Total,Disponibilidade_Caixa,Receita_L√≠quida,Lucro_Bruto,Lucro_L√≠quido,Ativo_Total,Passivo_Total,Liquidez_Corrente,Liquidez_Imediata,Liquidez_Geral,Solvencia_Geral,Endividamento,Endividamento_Geral
mes,,,,,,,,,,,,,,,,,,,
2024-12,241878.25,30857.09,179130.61,20154.04,561209.16,-56217.96,502191.49,135133.14,617427.12,115235.63,115235.63,272735.34,199284.65,1.35029,0.754383,1.368572,1.368572,0.730689,0.730689

In [ ]:

df[df["nivel_1"].str.startswith("A")]

Empty DataFrame
Columns: [nivel_1, nivel_2, nivel_3, nivel_4, conta, descricao, saldo_atual]
Index: []

In [20]:
ultima_data = tabela_pivot.index.max()
indices_max = tabela_pivot.loc[tabela_pivot.index == ultima_data]
indices_max

,ATIVO CIRCULANTE,ATIVO N√ÉO CIRCULANTE,PASSIVO CIRCULANTE,PASSIVO N√ÉO CIRCULANTE,Receita Bruta,(-) Impostos sobre Receita,Custo Total,Disponibilidade de Caixa,Receita L√≠quida,Lucro Bruto,Lucro L√≠quido,Ativo_Total,Passivo_Total,Liquidez_Corrente,Liquidez_Imediata,Liquidez_Geral,Solvencia_Geral,Endividamento,Endividamento_Geral
mes,,,,,,,,,,,,,,,,,,,
2024-12,241878.25,30857.09,179130.61,20154.04,561209.16,-56217.96,502191.49,135133.14,617427.12,115235.63,115235.63,272735.34,199284.65,1.35029,0.754383,1.368572,1.368572,0.730689,0.730689

In [ ]:
import json
import random


def modificar_valores_json(json_data):
    def modificar_nodo(nodo):
        # Se o n√≥ tiver filhos, processa-os recursivamente
        if 'children' in nodo:
            for filho in nodo['children']:
                modificar_nodo(filho)
            return

        # Modifica os valores financeiros com varia√ß√£o de ¬±25%
        for campo in ['saldo_anterior', 'debito', 'credito']:
            if campo in nodo:
                valor_original = nodo[campo]
                # Gera uma varia√ß√£o aleat√≥ria entre -25% e +25%
                variacao = random.uniform(-0.25, 0.25)
                novo_valor = valor_original * (1 + variacao)
                nodo[campo] = round(novo_valor, 2)

        # Calcula o novo saldo_atual baseado no tipo de conta
        if 'conta' in nodo:
            conta = nodo['conta']
            if conta.startswith(('01', '04')):  # ATIVO e CUSTOS
                nodo['saldo_atual'] = round(nodo.get('saldo_anterior', 0) +
                                            nodo.get('debito', 0) -
                                            nodo.get('credito', 0), 2)
            elif conta.startswith(('02', '03')):  # PASSIVO e RECEITAS
                nodo['saldo_atual'] = round(nodo.get('saldo_anterior', 0) -
                                            nodo.get('debito', 0) +
                                            nodo.get('credito', 0), 2)

    # Processa cada se√ß√£o do JSON
    for secao in json_data.values():
        if isinstance(secao, dict) and 'conta' in secao:
            modificar_nodo(secao)

    return json_data